html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3,
h4, h5, h6, pre, code, form, fieldset, legend,
input, textarea, p, blockquote, th, td {
  padding: 0; font-size: 12px; font-family: "Tahoma", "Microsoft YaHei";}

body {background-color: #FFFFFF;}
table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code,
dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

li {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }

q:before,
q:after {
  content: ""; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  border:1px solid #D3D3D3;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input{
  height:20px;}

*:focus {
  outline: none; }

.app_tbl_td {
	height: 25px;
	width: 100px;
	align: 'right';
}

.del_font{
	size: 2;
	color: red;
}
